*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family:'Times New Roman', Times, serif;
    background-color: red;
    & img{
        size-adjust: 600px;
    }
    & h1{
        color: white;
    }
    & h2{
        color: rgb(255, 255, 255)
    }
}
main{
    & ul{
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
}
nav{
    & ul{
        text-align: center;
    }
}
footer{
    background-color: rgb(209, 136, 18);
    & p{
        text-align: center;
        padding: 1em 0;
        color: white;
    }
}