*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family:'Times New Roman', Times, serif;
    background-color: red;
    & img{
        size-adjust: 600px;
    }
    & h1{
        color: white;
    }
    & h2{
        color: rgb(255, 255, 255)
    }
}

main{
    & h2{
        text-align: center;
    }
}
.flip-card{

}
nav{
    & ul{
        text-align: center;
    }
}
footer{
    background-color: rgb(209, 136, 18);
    & p{
        text-align: center;
        padding: 1em 0;
        color: white;
    }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}