*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family:'Times New Roman', Times, serif;
    background-color: red;
    & img{
        size-adjust: 600px;
    }
    & h1{
        color: white;
    }
    & h2{
        color: rgb(255, 255, 255)
    }
}

main{
    & h2{
        text-align: center;
    }
}
.flip-card{

}
nav{
    & ul{
        text-align: center;
    }
}
footer{
    background-color: rgb(209, 136, 18);
    & p{
        text-align: center;
        padding: 1em 0;
        color: white;
    }
}
.card-container {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
}